@font-face{
    font-family: 'drive';
    src: url('../Fonts/driveboldital.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    font-family: drive, sans-serif;
}
html{
    background-color:white;
    overflow: hidden;
    background: url(../IMG/De_dust2_new_v4.jpg);
}

header{
    height: 18vh;
    /* background: linear-gradient(.25turn, #803ca1 20%, #68a3e5 20%, #68a3e5 40%, #109856 40%, #109856 60%, #eda338 60%, #eda338 80%, #e6f13d 80%); */
    /* background: linear-gradient(grey, lightgrey 37%, white , lightgrey 75%, grey); */
    /* background: linear-gradient(white, lightgrey 37%, grey , lightgrey 75%, white); */
    text-align: center;
    width:100%;
    padding-top:8px;
    background: radial-gradient(white 5%,rgba(0,0,0,0) 73%, rgba(0,0,0,0));
}
body{
    margin:0;
}

article{
    
}

.strips {
   
    height: 83vh;
    text-align: center;
    color: white;
    opacity: .85;
    
}

.section:after {
    content: "";
    display: table; 
    clear: both; 
  }

.strips__strip {
    will-change: width, left, z-index, height;
    position: absolute;
    width: 19%;
    height: 82vh;
    overflow: hidden;
    cursor: pointer;
    border-radius: 30px;
    
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips__strip:nth-child(1) {
    left: .5vw;
}
.strips__strip:nth-child(2) {
    left: 20.5vw;
}
.strips__strip:nth-child(3) {
    left: 40.5vw;
}
.strips__strip:nth-child(4) {
    left: 60.5vw;
}
.strips__strip:nth-child(5) {
    left: 80.5vw;
}
.strips__strip:nth-child(1) .strip__content {
    background: #803ca1;
    transform: translate3d(0, -100%, 0);
    animation-name: strip1;
    animation-delay: 0.1s;
}
.strips__strip:nth-child(2) .strip__content {
    background: #68a3e5;
    transform: translate3d(0, 100%, 0);
    animation-name: strip2;
    animation-delay: 0.2s;
}
.strips__strip:nth-child(3) .strip__content {
    background: #109856;
    transform: translate3d(0, -100%, 0);
    animation-name: strip3;
    animation-delay: 0.3s;
}
.strips__strip:nth-child(4) .strip__content {
    background: #eda338;
    transform: translate3d(0, 100%, 0);
    animation-name: strip4;
    animation-delay: 0.4s;
}
.strips__strip:nth-child(5) .strip__content {
    background: #e6f13d;
    transform: translate3d(0, -100%, 0);
    animation-name: strip5;
    animation-delay: 0.5s;
}

.strips .strip__content {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-fill-mode: both;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.strips .strip__content:hover:before {
    transform: skew(-30deg) scale(3) translate(0, 0);
    opacity: 0.0;
}
.strips .strip__content:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.35;
    transform-origin: center center;
    transform: skew(-30deg) scaleY(1) translate(0, 0);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.strips .strip__inner-text {
    will-change: transform, opacity;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.strips__strip--expanded {
    width: 100%;
    top: 0 !important;
    left: 0 !important;
    z-index: 3;
    cursor: default;
}

.strips__strip--expanded .strip__content:hover:before {
    transform: skew(-30deg) scale(1) translate(0, 0);
    opacity: 0.05;
}
.strips__strip--expanded .strip__title {
    opacity: 0;
}
.strips__strip--expanded .strip__inner-text {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.strip__title {
    display: block;
    margin: 0;
    position: relative;
    z-index: 2;
    width: 100%;
    font-size: 3.5vw;
    color: black;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.strip__close {
    position: absolute;
    right: 3vw;
    top: 3vw;
    opacity: 0;
    z-index: 10;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;
    transition-delay: 0.5s;
}
.strip__close--show {
    opacity: 1;
}
@keyframes strip1 {
    0% {
        transform: translate3d(0, -100%, 0);
   }
    100% {
        transform: translate3d(0, 0, 0);
   }
}
@keyframes strip2 {
    0% {
        transform: translate3d(0, 100%, 0);
   }
    100% {
        transform: translate3d(0, 0, 0);
   }
}
@keyframes strip3 {
    0% {
        transform: translate3d(0, -100%, 0);
   }
    100% {
        transform: translate3d(0, 0, 0);
   }
}
@keyframes strip4 {
    0% {
        transform: translate3d(0, 100%, 0);
   }
    100% {
        transform: translate3d(0, 0, 0);
   }
}
@keyframes strip5 {
    0% {
        transform: translate3d(0, -100%, 0);
   }
    100% {
        transform: translate3d(0, 0, 0);
   }
}
/* Demo purposes */
body {
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    line-height: 1.5;
}
h1, h2 {
    font-weight: 300;
}
.fa {
    font-size: 30px;
    color: white;
}
h2 {
    font-size: 36px;
    margin: 0 0 16px;
}
p {
    margin: 0 0 16px;
}
